<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    
    <!-- Modal HTML -->
    <div id="upload" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload File</h4>
          </div>
          
 <div class="modal-body">
    <form th:object="${articleUploadForm}" action="upload" method="post" enctype="multipart/form-data"> 
           <div class="form-group">
      <label for="usr">Topic:</label>
      <input th:field="*{topic}" type="text" class="form-control" id="topic" name="topic">
    		</div>
    <div class = "form-group">
     <input th:field="*{fileData}" type="file" name="file" value="file" id="file">
    </div>
    
     <div class="form-group">
     <label for="usr">Abstract:</label>
      <textarea th:field="*{articleAbstract}" cols="20" rows="10"  name="abstract" id="abstract"> 
      </textarea>
      <script type="text/javascript">
        CKEDITOR.replace('abstract' );
      </script>
    </div> 
<div class = "form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
		  </form>
	  </div>
	  
         
         
         </div>
      </div>
    </div>
  </div>