<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Update Article to PDF</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Ghodaghodi multiple campus Sukkhad, Kailai - Research Journal">
   	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link th:href="@{/adminstatic/css/admin.css}" rel="stylesheet">
<script th:src="@{/adminstatic/js/admin.js}"></script>
</head>

<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="/author/authorpage :: sidebar"></div>
		<main class="page-content">
		<div class="container-fluid">
			<hr>

			<section class="section">
				<div class="container">
					<h5 class="subtitle">Update article to PDF</h5>
				</div>
			</section>

			<!-- start of main body -->
			<div class="container">
				<!-- div for bootstrap modal -->
				<div class="bs-example">
					<!-- Button HTML (to Trigger Modal) -->

					<!-- Modal HTML -->
					<div id="upload" >
						<div>
							<div class="modal-content">
								<div class="modal-body">
									<form th:action="@{/editor/uploadPDF}"	method="post" enctype="multipart/form-data">
										
										<input th:value="${article}" name="article" id="article" type=hidden>
										
										<label for="file">Upload PDF:</label>
										<div class="form-group">
											<input type="file" name="file" value="file" id="file">
										</div>										
										<div class="form-group">
											<button type="submit" class="btn btn-primary">Submit</button>
											

										</div>
									</form>
								</div>



							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of main body -->
		</main>
	</div>
</body>
</html>
