<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Student List</title>
<link rel="stylesheet" th:href="@{userstatic/bulma.min.css}" />
<style type="text/css">
.table th, .table td {
	vertical-align: middle;
}
</style>
</head>
<body>

	<section class="section">
		<div class="container">
			<h1 class="title">Student List</h1>
			<h2 class="subtitle">All students data.</h2>
		</div>
	</section>

	<div class="container">
		<div class="columns">
			<div class="column is-full">
				<div class="field is-grouped">
					<div class="control">
						<a th:href="@{/add-student}" class="button is-success is-small">Add Student</a>
					</div>
				</div>
				<table class="table content is-small is-bordered is-striped is-narrow is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>User Name</th>
							<th>Full Name</th>
							<th>Role</th>
							<th>Reset password</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="6">
								<strong>Total Records :</strong>
								<span th:text="${users.size()}"></span>
							</td>
						</tr>
					</tfoot>
					<!-- <tbody>
						<tr th:each="user : ${users}">
							<td th:text="${users.username}"></td>
							<td th:text="${users.full_name}"></td>
							<td th:text="${users.role}"></td>
							<td th:text="${users.state}"></td>
							<td>
								<a th:href="@{/edit-student(id=${student.id})}" class="button is-primary is-small">Edit</a>
								<a th:href="@{/delete-student(id=${student.id})}" class="button is-danger is-small">Delete</a>
							</td>
						</tr>
					</tbody>
				 -->
				</table>
			</div>
		</div>
	</div>

</body>

</html>