  <html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/cssfolder/registration.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        
    </head>
    <body>
    
<div class="testbox">
  <h1>Registration</h1>
	 <div th:if="${message!=null}" th:text="${message}" class="alert alert-success"></div>
  <form action="/register" method="post">
    
  <label id="icon" for="email"><i class="icon-envelope "></i></label>
  <input type="email" name="email" id="email" placeholder="Email" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" id="name" placeholder="Enter your Full Name" required/>
  
  <label id="icon" for="username"><i class="icon-user"></i></label>
  <input type="text" name="username" id="username" placeholder="Enter username for login" required/>
  
  <label id="icon" for="password"><i class="icon-shield"></i></label>
  <input type="password" name="password" id="password" placeholder="Password" required/>
  
  <label id="icon" for="cpassword"><i class="icon-shield"></i></label>
  <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required/>

  <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p> 
   <button class="btn btn-primary">Register</button>
   <p><a href="login">already a member /login</a></p>
  </form>
</div>
</body>
</html>